# Created by venv; see https://docs.python.org/3/library/venv.html
/.venv
*.env
dev.py
dev.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.pyd

# Distribution / packaging
build/
dist/
develop-eggs/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
pip-wheel-metadata/
wheels/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.noseids
.pytest_cache/
.hypothesis/

# Translations
*.mo
*.pot

# Django / Flask / DB
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv / poetry
Pipfile.lock
# Uncomment if you don't want to track poetry.lock
# poetry.lock

# PEP 582
__pypackages__/

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Editor swap / backup files
*~
*.swp
*.swo

# Static analysis caches
.mypy_cache/
.pyre/
.ruff_cache/

# Documentation
docs/_build/
site/

# Docker
.dockerignore

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Local dev artifacts
dev.py
dev.ipynb
